body {
    .single-day-regular {
        font-family: "Single Day", cursive;
        font-weight: 400;
        font-style: normal;
      }
      
    margin: 0 auto;
    
}

nav {
    width: 100%;
    background-color: orange;
    height: 45px;
    color: white;

}

nav ul li{
    float:left;
    display: inline;
    margin: 0 15px;
    padding: 0;
    
    
}

nav {
    overflow: hidden;
    position: fixed;
}

nav li a {
    text-decoration-line: none;
    color: white;
    display: block;
    line-height: 45px;
    list-style: none;
    padding: 0 10px;


}


nav li:hover{
    
    background-color: white;
}
nav li a:hover{
    color: black;
}

nav ul {
    margin: 0 auto;
    
}
